{% extends 'base.html' %}
{% block body %}
<h2>About</h2>
<p>When Will I Be Famous? (WWIBF) is a collection of 15 short stories mostly set in Nigeria that spans through a trove of themes like Football Trafficking, Politics, Criminal Justice System, Mental Health, Migration to Domestic Violence, Religion and Politics.</p>

<p>Storytelling is the adhesive that binds humanity together. It has always been an eternal medium to beam light on issues that are prevalent in society but not talked about enough—or even accentuate topical matters for further musings. It is the register that records the nuances of everyday life—those little moments that amass in our collective memory and shape who we are. This anthology is a blend of both. Written with a slew of points of view, a variety of settings with a powerful command of prose—When Will I Be Famous teeters along the unknown path of the dreamer, floats in the canal of the lost and emerges on other side of a champion—but not without scars.</p>

<p>WWIBF is Author Opeyemi Philips’s first fiction work. It was an opportunistic work that came sooner than the author would expect while he was working on the publishing of “What Football Teaches About Life” a nonfiction work still lingering in his memory and drafts.
After he was denied a visa to the United Kingdom to further research and visit the places he wanted to see to corroborate the narration (we also planned to do a documentary of the What Football Teaches About Life book) he decided to write short stories having being fascinated by this medium for a while.</p>

<p>The journey took five years of learning, writing and rewriting and a long hiatus story when life happens. But he was always going back to the drafts like an estranged lover who is obsessed with their ex. And that’s why we are here today.</p>

{% endblock %}
